@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

@import '@fontsource/archivo/400.css';
@import '@fontsource/archivo/500.css';
@import '@fontsource/archivo/600.css';
@import '@fontsource/archivo/700.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    height: 100%;
    font-family: 'Poppins';
  }

  #app {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Archivo';
  }
}
